.navBar {
  background-color: #ffc800;
  margin-top: -18px;
  width: 100%;

  ul {
    list-style: none;
    width: 260px;
    height: 60px;
    margin-left: 2%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    .activeLink {
      color: gray;
    }
    .unactiveLink {
      color: azure;
      text-decoration: none;
    }
  }
}
