@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
.colorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;

  justify-content: space-around;
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.machineButtons {
  display: flex;
  justify-content: center;
  gap: 5%;

  button {
    background-color: rgb(97, 57, 137);
    width: 32vw;
    max-width: 200px;
    height: 50px;
    color: aliceblue;
    font-family: 'Raleway';
    border: transparent;
  }
}
.disable {
  opacity: 50%;
}
